<div class="container">
  <div class="row">
      <div class="col-md-12">
          <h1 class="my-3">SpaceX Launch Programs</h1>
      </div>
      <div class="col-md-4">
          <aside class="filter-section-wrapper">
              <div class="card">
                  <div class="card-body">
                      <div class="filter-header-wrap">
                          <h3>Filters</h3>
                          <a *ngIf="showFilter" (click)="clearFilter()">Clear filter</a>
                      </div>
                      <p style="text-align: center; margin: 0; margin-top: 35px">
                        <b>Successful Launch</b>
                      </p>
                      <hr class="horizontal-line" />
                      <br />
                      <div class="launch-land-button">
                        <span
                          class="background-green"
                          (click)="filterLaunch($event)"
                          value="true"
                          tabindex="1"
                          >True</span
                        >
                        <span class="background-green" (click)="filterLaunch($event)" tabindex="2"
                          >False</span
                        >
                      </div>
                      <p style="text-align: center; margin: 0; margin-top: 35px">
                        <b>Successful Landing</b>
                      </p>
                      <hr class="horizontal-line" />
                      <br />
                      <div class="launch-land-button">
                        <span class="background-green" (click)="filter_land($event)" tabindex="1"
                          >True</span
                        >
                        <span class="background-green" (click)="filter_land($event)" tabindex="2"
                          >False</span
                        >
                      </div>
                   
                      <div class="filter-sub-title">
                          <h4>Launch Year</h4>
                      </div>
                      <ul class="filter-buttons">
                          <li [ngClass]="launchYearSelectedIndex === i ? 'active' : ''" *ngFor="let year of launchYears; let i = index" (click)="filterLaunchPrograms(i, year)">{{year}}</li>
                      </ul>
                     
                  </div>
              </div>
          </aside>
      </div>
      <div class="col-md-8">
          <p *ngIf="isLoading" class="loading-text">Loading...</p>
          <p *ngIf="launchDataArray && !launchDataArray.length && !isLoading" class="loading-text">No Data Found!</p>
          <div *ngIf="!isLoading" class="row">
              <div *ngFor="let item of launchDataArray" class="col-md-4">
                
  <app-launch-space-x-details  [data]="item"></app-launch-space-x-details>

              </div>
          </div>
          <h1 *ngIf="launchesCount == 0" style="margin-left: 40%">
            No Record Found !!!
          </h1>
      </div>
  </div>
</div>